var config = {
	server: {
		port: 5000
	},
	db: {
		user: 'root',
		pass: 'pass',
		base: 'xmm',
		options: {
			dialect: 'mysql',
			protocol: 'tcp',
			host: 'localhost',
			logging: false,
			port: 3306,
			dialectOptions: {
				socketPath  : '',
				ssl: false
			}
		}
	}
};

module.exports = config;
